.main {
  display: grid;
  place-content: center;
  background-color: #dc9d9d;
  color: #fbfaf3;
  width: fit-content;
  border-radius: 10px;
}
.titles{
  color:#fbfaf3;
}
.btn{
  color:#fbfaf3;
  font-size: x-large;
  font-weight: 900;
}
